*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #2E5790;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
.cabecalho-imagem {
    width: 15%;
}
.cabecalho-lista-item { 
    display: inline-block;
    margin: 0 40px;
}
.escola-imagem {
    width: 10%;
}

.imagem-alunos{
    width: 28%;
}
.escola {
    background-image: linear-gradient(#2E5790,#4EBFE9);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.escola-div-conteudo { 
    width: 35%;
}

.escola-titulo {
    padding: 15px 0;
}

.escola-texto-um {
    padding: 25px 0;
}