*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #2E5790;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
.cabecalho-imagem {
    width: 15%;
}
.cabecalho-lista-item { 
    display: inline-block;
    margin: 0 40px;
}

.escola-imagem {
    width: 16%;
}

.escola {
    background-image: linear-gradient(#2E5790,#165C8B);
}